

<div id='list' style='padding: 10px'>
    <h5>DropDownList with height 20px</h5>
    <ej-dropdownlist id='ddlelement1' [dataSource]='data' [fields]='fields' placeholder = 'Select a game' width='300px'></ej-dropdownlist>
</div>

<div id='list1' style='padding: 10px'>
    <h5>DropDownList with height 35px</h5>
    <ej-dropdownlist id='ddlelement2' [dataSource]='data' [fields]='fields' placeholder = 'Select a Game' width='300px'></ej-dropdownlist>
</div>

<div id='list2' style='padding: 10px'>
    <h5>DropDownList with height 50px</h5>
    <ej-dropdownlist id='ddlelement3' [dataSource]='data' [fields]='fields' placeholder = 'Select a game' width='300px'></ej-dropdownlist>
</div>
